.section2 {
  padding: 60px 40px;

  display: flex;
  gap: 120px;
  justify-content: center;

  .about-content {
    h3 {
      margin-top: 25px;
    }

    .content-subtitle {
      font-size: 15px;
      line-height: 160%;
      color: #4c4c4c;
      font-family: Arial, Helvetica, sans-serif;

      max-width: 430px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .section2 {
    flex-direction: column-reverse;
    gap: 80px;
    align-items: center;

    .about-img {
      width: 45%;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section2 {
    gap: 40px;
    .about-content {
      .content-title {
        font-size: 25px;
        text-align: center;
      }

      .content-subtitle {
        width: auto;
        text-align: justify;
      }
    }

    .about-img {
     max-width: 260px;
    }
  }
}
