footer {
  padding: 60px 40px;
  padding-bottom: 0px;

  display: flex;
  gap: 160px;
  justify-content: space-between;
  background-image: url("/public/img/main/main-bg.png");
}

footer h3 {
  color: white;
}

footer .text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06rem;
  color: #f1cdb3;
}

footer .block {
  display: flex;
  gap: 20px;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 1280px) {
  footer {
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .contacts {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  footer h3 {
    font-size: 25px;
    text-align: center;
  }

  footer .content .credit-card span {
    font-size: 15px;
  }

  footer {
    padding: 30px 20px;
    padding-bottom: 0px;
  }

  footer .contacts {
    width: auto;
  }

  footer .contacts:not(.adress) {
    align-items: center;
  }

  footer > img {
    width: 260px;
  }

  footer .adress img {
    width: 20px;
    height: 32px;
  }
}
