header {
  width: calc(100% - 80px);
  height: 60px;
  display: flex;
  padding: 30px 40px;
  justify-content: space-between;
  align-items: center;

  &.dark {
    background-image: url("/public/img/main/main-bg.png"); /* ??????? */

    nav .active {
      color: #fafafa;
    }

    .logo {
      .logo-title {
        color: #f1cdb3;
      }

      .logo-subtitle {
        color: #ffffff;
      }
    }
  }

  &.light {
    background: white;

    nav {
      div a {
        text-decoration: none;
        color: #545454;
      }

      .active {
        color: #292929;
      }
    }

    .logo {
      .logo-title {
        color: #545454;
      }

      .logo-subtitle {
        color: #292929;
      }
    }
  }

  nav {
    display: flex;
    gap: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    div a {
      text-decoration: none;
      color: #cdcdcd;
    }

    .active {
      padding-bottom: 5px;
      border-bottom: 3px #f1cdb3 solid;
    }
  }

  .logo {
    text-align: center;
    z-index: 1001;

    .logo-title {
      font-size: 32px;
    }

    .logo-subtitle {
      font-size: 13px;
      letter-spacing: 1.1px;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    width: calc(100% - 40px);
    height: 60px;
    padding: 10px 20px;
    background-color: #292929;
    position: relative;

    > nav {
      display: none;
    }

    .logo {
      position: absolute;
      right: 120px;
    }
  }
}
