.popupWrapper {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.276);
}

.popupWrapper .popup {
  width: 60%;
  padding: 45px;
  background-color: white;
  border-radius: 12px;
  position: relative;
  display: flex;
  gap: 30px;
}

.popupWrapper .popup .content-description {
  text-align: left;
}

.popupWrapper .popup .title {
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06rem;
  margin-bottom: 10px;
}

.popupWrapper .popup .subtitle {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06rem;
  margin-bottom: 40px;
}

.popupWrapper .popup .description,
.popupWrapper .popup .info {
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06rem;
  margin-bottom: 40px;
}

.popupWrapper .popup .info div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.popupWrapper .popup .info div::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #f1cdb3;
  border-radius: 50%;
  /* position: absolute; */
  margin-right: 10px;
}

.popupWrapper .popup .close {
  position: absolute;
  width: 52px;
  height: 52px;
  border: #f1cdb3 2px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  top: -55px;
  right: -45px;
}

.popupWrapper .popup .close img {
  width: 25px;
  height: 25px;
}

.popupWrapper .popup .content-image {
  width: 50%;
}

.popupWrapper .popup .content-description {
  width: 40%;
}

.popupWrapper .popup .content-image img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .popupWrapper .popup .content-image {
    display: none;
  }

  .popupWrapper .popup .content-description {
    width: 100%;
    text-align: center;
  }

  .popupWrapper .popup .content-description .description {
    text-align: justify;
  }
  
  .popupWrapper .popup .close {
    top: -60px;
    right: -30px;
  }
}
