.section3 {
  padding: 80px 20px;
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 60px;

  h3 {
    margin-top: 50px;
  }

  .slider-wrapper {
    display: flex;
    gap: 50px;
    margin: 0 auto;
    align-items: center;

    .slider {
      display: flex;
      gap: 90px;
      margin: 0 auto;
      justify-content: center;

      .slider-item {
        background-color: #fafafa;
        font-size: 20px;
        font-family: Georgia, "Times New Roman", Times, serif;
        letter-spacing: 0.06em;
        max-width: 270px;

        > * {
          margin-bottom: 30px;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  > button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .section3 .slider-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;


    .slider {
      order: 1;
      width: 100%;
    }

    #arrow-left {
      order: 2;
      margin-right: 60px;
    }

    #arrow-right {
      order: 3;
    }

  }
}
