.section5 {
  padding: 80px 40px;

  display: flex;
  gap: 120px;
  justify-content: center;
  background-color: #f6f6f6;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 380px;

    p {
      margin: 0;
    }

    .creditCard {
      padding: 10px 15px;
      background-color: #f1cdb3;
      color: #545454;
      border-radius: 10px;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 20px;
      line-height: 1.15;
      letter-spacing: 0.06rem;
      align-self: flex-start;
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .contentSubtitle {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 15px;
      line-height: 1.1;
      letter-spacing: 0.06rem;
    }

    .legalInformation {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-style: italic;
      color: #b2b2b2;
    }
  }
}

@media screen and (max-width: 1280px) {
  .section5 {
    flex-direction: column-reverse;
    align-items: center;

    > img {
      width: 70%;
    }

    .content .creditCard {
      gap: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .section5 {
    padding: 40px 20px;
    text-align: center;

    .content {
      width: auto;

      h3 {
        font-size: 25px;
      }

      .creditCard {
        margin: 0 auto;
      }

      .creditCard span {
        font-size: 15px;
      }

      .contentSubtitle {
        font-size: 15px;
        letter-spacing: normal;
      }

      .legalInformation {
        font-size: 12px;
        line-height: 1.18;
        text-align: justify;
      }
    }
  }
}
