.section4 {
  text-align: center;
  padding: 60px 40px;

  h3 {
    margin-bottom: 60px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
  }

  .item {
    img {
      margin-bottom: 22px;
      width: 60px;
      height: 60px;
    }

    .item-name {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 20px;
      line-height: 1.15;
      letter-spacing: 0.06rem;
      color: #545454;
    }
  }
}

@media screen and (max-width: 1280px) {
  .section4 .row {
    gap: 60px;

    .item {
      max-width: 160px;
    }
  }
}

@media screen and (max-width: 768px) {
  .section4 {
    padding: 40px 10px;

    h3 {
      font-size: 25px;
    }

    .row {
      .item {
        max-width: 120px;

        .item-name {
          font-size: 15px;
        }
      }
    }
  }
}
