.our-pets {
  padding: 80px 40px;
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 60px;

  h3 {
    margin-top: 50px;
  }

  .slider-wrapper {
    display: flex;
    gap: 50px;
    margin: 0 auto;
    align-items: center;

    .slider {
      display: flex;
      gap: 40px;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: center;

      .slider-item {
        background-color: #fafafa;
        font-size: 20px;
        font-family: Georgia, "Times New Roman", Times, serif;
        letter-spacing: 0.06em;
        max-width: 270px;
        width: 100%;

        img {
          width: 100%;
        }

        > * {
          margin-bottom: 30px;
        }
      }
    }
  }

  .navigation {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  > button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .our-pets .slider-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
