h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06rem;

  font-weight: 300;
  color: #545454;
  margin: 0;
}

.App {
  overflow: hidden;
}
