h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06rem;

  font-weight: 300;
  color: #545454;
  margin: 0;
}

.App button.MuiButtonBase-root {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  font-size: 17px !important;
  letter-spacing: 0.06rem !important;
  line-height: 1.3 !important;
  text-transform: none !important;
  background-color: #f1cdb3 !important;
  padding: 15px 45px !important;
  border-radius: 100px !important;
  color: #292929 !important;
  box-shadow: none !important;
  align-self: self-start;
}
