.users {
  padding: 80px 40px;
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h3 {
    margin-top: 50px;
    text-align: center;
  }
  
  > div {
    font-size: 24px;
  }

  .navigation {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  > button {
    margin: 0 auto;
  }

  input {
    width: 50%;
    margin: 0 auto;
    height: 30px;
  }
}
