.sliderWrapper {
  display: flex;
  gap: 50px;
  margin: 0 auto;
  align-items: center;

  .slider {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;

    .sliderItem {
      background-color: #fafafa;
      font-size: 20px;
      font-family: Georgia, "Times New Roman", Times, serif;
      letter-spacing: 0.06em;
      max-width: 270px;
      width: 100%;

      img {
        width: 100%;
      }

      > * {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sliderWrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
